.nav-item {
  display: inline-flex;
  justify-content: center;
  font-display: inline-flex;
  font-size: 16px;
  background-color: transparent;
  padding-left: 50%;
  border-color: transparent;
}

header {
  font-size: 1px;
  display: inline-flex;
  display: inline-block;
  background-color: transparent;
}

.navbar {
  background-color: transparent;
  font-weight: bolder;
  font-size: 1px;
  text-align: center;
  color: transparent;
}
.container-fluid {
  color: rgb(235, 211, 0) !important;
}
/*no responde container fluid para cambio de color*/

body {
  border-color: rgb(235, 211, 0);
  background-image: url(img/logo.jpg);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: rgb(235, 211, 0);
  display: auto;
}
.video {
  margin-bottom: 100px;
  padding-left: 800px;
  background-color: transparent;
}
.imagenhistoria {
  margin: auto;
  display: block;
}
.titulo video {
  color: rgb(235, 211, 0);
  padding-left: 800px;
  background-color: transparent;
}
p {
  background-image: none;
  background-color: black;
  color: black;
  border-color: black;
  font-size: 5px;
}

h1 {
  color: rgb(235, 211, 0);
  font-size: 40px;

  background-color: transparent;
}
h2 {
  color: rgb(235, 211, 0);
  background-color: transparent;
  font-size: 40px;
  display: flex;
  justify-content: center;
}
.integrantes {
  border-color: black;
  margin-bottom: 50px;
}
.formulario {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.carousel-item {
  background: no-repeat;

  background-size: auto;
}

.titular {
  size-adjust: 20px;
}
h3 {
  color: rgb(235, 211, 0);
  background-color: transparent;
}

.boton-primary {
  background-color: black;
  color: black;
  font-family: "letra";
  font-size: 20px;
  text-decoration: none;
}

.disco {
  color: rgb(235, 211, 0);
  background-color: transparent;
}
.ints {
  display: block;
  list-style-type: none;
  color: rgb(235, 211, 0);
}

section {
  color: rgb(235, 211, 0);
  background-color: transparent;
}
.historia {
  color: rgb(235, 211, 0);
  background-color: black;
  font-size: 1px;
  margin: 10px;
}

.grid {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "footer";
}

.header {
  grid-area: header;
  background: black;
}
.nav {
  grid-area: nav;
  background: rgb(235, 211, 0);
}
.footer {
  background-color: rgb(235, 211, 0);
}

body {
  background: #f9f9f9;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

.contenedor {
  margin-top: 200px;
}

.title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(95, 100, 18, 0.712);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
}

img {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.4s ease-in-out 0.2s;
  -moz-transition: all 0.4s ease-in-out 0.2s;
  transition: all 0.4s ease-in-out 0.2s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: black;
  font-weight: 700;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: black;
  font-size: 30px;
  font-weight: 700;
}

.fadeIn-bottom {
  top: 100%;
}

/*form contacto*/

.contact {
  padding: 4%;
  height: 700px;
}
.col-md-3 {
  background-image: url(img/live2.jpg);
  padding: 2%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.contact-info {
  margin-top: 10%;
}
.contact-info img {
  margin-bottom: 15%;
}
.contact-info h2 {
  margin-bottom: 10%;
  font-size: 17px;
  font-weight: 700;
}
.contact-info h4 {
  font-weight: 700;
  color: rgb(235, 211, 0);
}
.col-md-9 {
  background: black;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.contact-form label {
  font-weight: 400;
}
.contact-form button {
  background: rgb(235, 211, 0);
  color: black;
  font-weight: 700;
  width: 50%;
  margin-top: 10px;
}
.contact-form button:focus {
  box-shadow: none;
}

.contactito {
  text-align: center;
}
.formgroup1 {
  margin-bottom: 10px;
}
.formgroup2 {
  margin-bottom: 10px;
}
.formgroup3 {
  margin-bottom: 10px;
}
.formgroup4 {
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 1600px;
  height: px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: auto;
  background-color: transparent;
}
.container .card {
  width: 330px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0 2px 2px rgb(235, 211, 0);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  background-color: black;
}
.container .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 25px rgb(235, 211, 0);
}
.container .card img {
  width: 330px;
  height: 220px;
}
.container .card h2 {
  font-weight: 100px;
}
.container .card p {
  padding: 0 1rem;
  font-size: 25px;
  font-weight: 300;
}

.box {
  position: relative;
  width: 1200px;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(235, 211, 0);
  border: 20px solid black;
  border-top: 0px;
  border-bottom: 0px;
  background-color: black;
  font-size: 100px;
}
.box:hover {
  border: 20px solid black;
  background-color: rgb(235, 211, 0);
  -webkit-transition: background-color 2s linear;
  -ms-transition: background-color 2s linear;
  transition: background-color 2s linear;
}
.box:hover .item {
  color: black;
}
span {
  width: 0px;
  height: 2px;
  background: deepskyblue;
  display: block;
  transition: all 2s ease-in-out;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 10px 10px 10px 10px;
  color: black;
  background-color: rgb(235, 211, 0);
}

.footer > * {
  flex: 1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}
@font-face {
  font-family: letra;
  src: url(ChaptersSlantDEMO.otf);
}
.footer__logo {
  font-family: "letra";
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
  color: black;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  max-width: max-content;
  background-color: black;
  border-radius: 100px;
  color: rgb(235, 211, 0);
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: black;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: black;
}
@media screen and (max-width: 375px) {
  .legal {
    margin-left: auto;
  }
}

@media screen and (min-width: 993px) {
  .footer__nav > * {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}

@media (max-width: 375px) {
  nav li {
    display: inline-block;
    width: 10%;
    padding: 50px 40px;
    background-color: rgb(235, 211, 0);
    border: 1px solid rgb(235, 211, 0);
    text-align: center;
    outline-color: rgb(235, 211, 0);
  }

  header {
    background-color: rgb(235, 211, 0);
    font-size: 25px;
    display: inline-flex;
  }

  nav {
    background-color: rgb(red, rgb(235, 211, 0), blue);
    font-weight: bolder;
    font-size: 30px;
    font-display: inline;
    background-color: transparent;
    display: inline-block;
    text-align: center;
  }
  .lista {
    display: inline-block;
    justify-content: center;
    font-display: inline;
    font-size: 30px;
  }
  body {
    border-color: rgb(235, 211, 0);
    background-image: url(img/logo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(235, 211, 0);
    display: auto;
  }
  .video {
    margin-bottom: 100px;
    padding-left: 800px;
    background-color: transparent;
  }
  .titulo video {
    color: rgb(235, 211, 0);
    padding-left: 800px;
    background-color: transparent;
  }
  p {
    background-image: none;
    background-color: transparent;
    color: rgb(235, 211, 0);
    font-size: 35px;
  }
  h1 {
    color: rgb(235, 211, 0);
    font-size: 40px;
    font-style: italic;
    background-color: transparent;
  }
  h2 {
    color: rgb(235, 211, 0);
    background-color: transparent;
    font-size: 40px;
  }
  .formulario {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
  }

  .shows {
    background-color: black;
    display: grid;
  }
  .titular {
    size-adjust: 20px;
  }
  h3 {
    color: rgb(235, 211, 0);
    background-color: transparent;
  }

  .disco {
    color: rgb(235, 211, 0);
    background-color: transparent;
  }
  .ints {
    display: block;
    list-style-type: none;
    color: rgb(235, 211, 0);
  }
  .fechas {
    color: rgb(235, 211, 0);
  }
  section {
    color: rgb(235, 211, 0);
    background-color: transparent;
  }
  .historia {
    color: rgb(235, 211, 0);
    background-color: black;
    font-size: 30px;
  }

  .grid {
    display: grid;
    grid-template-areas:
      "header"
      "nav"
      "footer";
  }

  .header {
    grid-area: header;
    background: black;
  }
  .nav {
    grid-area: nav;
    background: rgb(235, 211, 0);
  }

  .container {
    width: 100%;
    max-width: 1600px;
    height: px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;
    background-color: transparent;
  }
  .container .card {
    width: 330px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 2px 2px rgb(235, 211, 0);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: black;
  }
  .container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 25px rgb(235, 211, 0);
  }
  .container .card img {
    width: 330px;
    height: 220px;
  }
  .container .card h2 {
    font-weight: 100px;
  }
  .container .card p {
    padding: 0 1rem;
    font-size: 25px;
    font-weight: 300;
  }

  .box {
    position: relative;
    width: 1200px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(235, 211, 0);
    border: 20px solid black;
    border-top: 0px;
    border-bottom: 0px;
    background-color: black;
    font-size: 100px;
  }
  .box:hover {
    border: 20px solid black;
    background-color: rgb(235, 211, 0);
    -webkit-transition: background-color 2s linear;
    -ms-transition: background-color 2s linear;
    transition: background-color 2s linear;
  }
  .box:hover .item {
    color: black;
  }
  span {
    width: 0px;
    height: 2px;
    background: deepskyblue;
    display: block;
    transition: all 2s ease-in-out;
  }
}

@media (min-width: 768px) {
  nav li {
    display: inline-block;
    width: 10%;
    padding: 50px 40px;
    background-color: rgb(235, 211, 0);
    border: 1px solid rgb(235, 211, 0);
    text-align: center;
    outline-color: rgb(235, 211, 0);
  }

  header {
    background-color: rgb(235, 211, 0);
    font-size: 25px;
    display: inline-flex;
  }

  nav {
    background-color: rgb(red, rgb(235, 211, 0), blue);
    font-weight: bolder;
    font-size: 30px;
    font-display: inline;
    background-color: transparent;
    display: inline-block;
    text-align: center;
  }
  .lista {
    display: inline-block;
    justify-content: center;
    font-display: inline;
    font-size: 30px;
  }
  body {
    border-color: rgb(235, 211, 0);
    background-image: url(img/logo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(235, 211, 0);
    display: auto;
  }
  .video {
    margin-bottom: 100px;
    padding-left: 800px;
    background-color: transparent;
  }
  .titulo video {
    color: rgb(235, 211, 0);
    padding-left: 800px;
    background-color: transparent;
  }
  p {
    background-image: none;
    background-color: transparent;
    color: rgb(235, 211, 0);
    font-size: 35px;
  }
  h1 {
    color: rgb(235, 211, 0);
    font-size: 40px;
    font-style: italic;
    background-color: transparent;
  }
  h2 {
    color: rgb(235, 211, 0);
    background-color: transparent;
    font-size: 40px;
  }
  .formulario {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
  }

  .shows {
    background-color: black;
    display: grid;
  }
  .titular {
    size-adjust: 20px;
  }
  h3 {
    color: rgb(235, 211, 0);
    background-color: transparent;
  }

  .disco {
    color: rgb(235, 211, 0);
    background-color: transparent;
  }
  .ints {
    display: block;
    list-style-type: none;
    color: rgb(235, 211, 0);
  }
  .fechas {
    color: rgb(235, 211, 0);
  }
  section {
    color: rgb(235, 211, 0);
    background-color: transparent;
  }
  .historia {
    color: rgb(235, 211, 0);
    background-color: black;
    font-size: 30px;
  }

  .grid {
    display: grid;
    grid-template-areas:
      "header"
      "nav"
      "footer";
  }

  .header {
    grid-area: header;
    background: black;
  }
  .nav {
    grid-area: nav;
    background: rgb(235, 211, 0);
  }

  .container {
    width: 100%;
    max-width: 1600px;
    height: px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;
    background-color: transparent;
  }
  .container .card {
    width: 330px;
    height: 380px;
    border-radius: 20px;
    box-shadow: 0 2px 2px rgb(235, 211, 0);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: black;
  }
  .container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 25px rgb(235, 211, 0);
  }
  .container .card img {
    width: 120px;
    height: 100px;
  }
  .container .card h2 {
    font-size: 20px;
  }
  .container .card p {
    padding: 0 1rem;
    font-size: 18px;
    font-weight: 300;
  }

  .box {
    position: relative;
    width: 700px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(235, 211, 0);
    border: 20px solid black;
    border-top: 0px;
    border-bottom: 0px;
    background-color: black;
    font-size: 100px;
  }
  .box:hover {
    border: 20px solid black;
    background-color: rgb(235, 211, 0);
    -webkit-transition: background-color 2s linear;
    -ms-transition: background-color 2s linear;
    transition: background-color 2s linear;
  }
  .box:hover .item {
    color: black;
  }
  span {
    width: 0px;
    height: 2px;
    background: deepskyblue;
    display: block;
    transition: all 2s ease-in-out;
  }
}

@media (min-width: 993px) {
  nav li {
    display: inline-block;
    width: 10%;
    padding: 50px 40px;
    background-color: transparent;
    text-align: center;
    outline-color: rgb(235, 211, 0);
  }

  header {
    background-color: transparent;
    font-size: 5px;
    display: inline-flex;
  }

  nav {
    background-color: transparent;
    font-weight: bolder;
    font-size: 5px;
    font-display: inline;
    background-color: transparent;
    display: inline-block;
    text-align: center;
    color: rgb(235, 211, 0);
  }
  .lista {
    font-size: 15px;
    display: inline-block;
    justify-content: center;
    font-display: inline;
  }
  body {
    border-color: rgb(235, 211, 0);
    background-image: url(img/logo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(235, 211, 0);
    display: auto;
  }
  .video {
    margin-bottom: 100px;
    padding-left: 800px;
    background-color: transparent;
  }
  .titulo video {
    color: rgb(235, 211, 0);
    padding-left: 800px;
    background-color: transparent;
  }
  p {
    background-image: none;
    background-color: transparent;
    color: rgb(235, 211, 0);
    font-size: 35px;
  }
  h1 {
    color: rgb(235, 211, 0);
    font-size: 40px;
    font-style: italic;
    background-color: transparent;
  }
  h2 {
    color: rgb(235, 211, 0);
    background-color: transparent;
    font-size: 40px;
  }
  .formulario {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
  }

  .shows {
    background-color: black;
    display: grid;
  }
  .titular {
    size-adjust: 20px;
  }
  h3 {
    color: rgb(235, 211, 0);
    background-color: transparent;
  }

  .disco {
    color: rgb(235, 211, 0);
    background-color: transparent;
  }
  .ints {
    display: block;
    list-style-type: none;
    color: rgb(235, 211, 0);
  }
  .fechas {
    color: rgb(235, 211, 0);
  }
  section {
    color: rgb(235, 211, 0);
    background-color: transparent;
  }
  .historia {
    color: rgb(235, 211, 0);
    background-color: black;
    font-size: 20px;
    margin: 50px;
    padding: 20px;
  }

  .grid {
    display: grid;
    grid-template-areas:
      "header"
      "nav"
      "footer";
  }

  .header {
    grid-area: header;
    background: black;
  }
  .nav {
    grid-area: nav;
    background: rgb(235, 211, 0);
  }

  .container {
    width: 100%;
    max-width: 1600px;
    height: px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;
    background-color: transparent;
  }
  .container .card {
    width: 330px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 2px 2px rgb(235, 211, 0);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: black;
  }
  .container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 25px rgb(235, 211, 0);
  }
  .container .card img {
    width: 330px;
    height: 220px;
  }
  .container .card h2 {
    font-weight: 100px;
  }
  .container .card p {
    padding: 0 1rem;
    font-size: 25px;
    font-weight: 300;
  }

  .box {
    position: relative;
    width: 1200px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(235, 211, 0);
    border: 20px solid black;
    border-top: 0px;
    border-bottom: 0px;
    background-color: black;
    font-size: 100px;
  }
  .box:hover {
    border: 20px solid black;
    background-color: rgb(235, 211, 0);
    -webkit-transition: background-color 2s linear;
    -ms-transition: background-color 2s linear;
    transition: background-color 2s linear;
  }
  .box:hover .item {
    color: black;
  }
  span {
    width: 0px;
    height: 2px;
    background: deepskyblue;
    display: block;
    transition: all 2s ease-in-out;
  }
}
